.pin {
  display: flex;  
}
 .pin__container {
  cursor: pointer;
} 
 .img {
  width: 100%;
  cursor: zoom-in;
  object-fit: cover;
}
.img:hover{
  box-shadow: 0 0 5px ;
  opacity: 0.7;
}

@media (min-width: 0px) and (max-width: 300px ) {
  .pin__container {
    min-width: 50px;
    max-width: 80px;
    margin : 3px;
  }
  .img{
  border-radius: 8px;
  }
}



@media (min-width: 300px) and (max-width: 520px) {
  .pin__container {
    max-width: 150px;
    margin : 3px;

  }
  .img{
  border-radius: 10px;
  }
}
@media (min-width: 520px) and (max-width: 755px) {
  .pin__container {
    max-width: 200px;
    margin : 3px;
  }
  .img{
  border-radius: 10px;
  }
}
@media (min-width: 756px) and (max-width: 1007px) {
  .pin__container {
    max-width: 300px;
    margin : 5px;
  }
  .img{
  border-radius: 12px;
  }
}

@media (min-width: 1008px) and (max-width: 1259px) {
  .pin__container {
    max-width: 300px;
    margin : 8px;
  }
  .img{
    border-radius: 16px;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  .pin__container {
    max-width: 300px;
    margin : 8px;
  }
  .img{
  border-radius: 16px;
  object-fit: cover;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  .pin__container {
    max-width: 300px;
    margin : 8px;
  }
  .img{
  border-radius: 16px;
  }
}

@media (min-width: 1764px) and (max-width: 2015px) {
  .pin__container {
    max-width: 300px;
    margin : 8px;
  }
  .img{
  border-radius: 16px;
  }
}